<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button slot="start" style="color: black;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img> -->
  <ion-grid>
    <ion-col>
      <mat-card id="title-card">
        <mat-card-title-group>
          <mat-card-title>{{ shopName }}</mat-card-title>
          <div mat-card-avatar>
            <img src="https://d1jpzjn3hhxcck.cloudfront.net/stores/images/d4c1b9bb26c89472599332f2b74923ba.jpg">
          </div>
        </mat-card-title-group>
        <mat-card-content>Address: {{ address }}</mat-card-content>
        <mat-card-content>Working Hours: {{ wrkHours }}</mat-card-content>
      </mat-card>
    </ion-col>
    <h2 style="margin-left: 4%;" style="padding-bottom: 4px; border-bottom: solid 1px #7d7d7d; border-radius: 4%;">What
      is Left?</h2>
    <h1 *ngIf="productList==null">We're sorry! There are no available items at the moment</h1>
    <mat-card *ngFor="let product of productList; index as i" id="product-card" (click)="getProductDetails(product.shopId, product.id)">
      <mat-card-title-group style="margin-bottom: 2px;">
        <mat-card-title style="font-size: 22px;">{{ product.title }}</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-title-group>
      <mat-card-content style="font-size: 12px;" >
        <p>
          {{ product.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </ion-grid>

  <ion-modal [initialBreakpoint]="0.75" [breakpoints]="[0, 0.50,0.75, 1]" (willDismiss)="onWillDismiss($event)"
    [isOpen]="$isOpen">
    <ng-template>
      <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>

      <ion-content class="ion-padding">
        <h3 style="font-size: 17px;">{{ productDetails.title }}</h3>
        <p>{{ productDetails.description }}</p>
        <h4>
          <strong>
            {{ productDetails.price | currency: 'EUR' }}
          </strong>
        </h4>
          <ion-col>
            <div class="counter__section">
              <button mat-mini-fab (click)="decrement()" style="background-color: rgb(152, 152, 152);color: rgb(255, 194, 119);">-</button>
              <p style="margin-top: 15px;">{{count}}</p>
              <button mat-mini-fab (click)="increment(productDetails.quantity)"
                style="background-color: rgb(152, 152, 152);color: rgb(255, 194, 119); justify-content: center;">
                +
              </button>
            </div>
          </ion-col>
          <ion-col>

            <ion-button expand="block" (click)="addToCart(productDetails.title, productDetails.id, productDetails.price)"
              style="margin-left: 10px; margin-right: 10px; --top-padding: 50px; --border-color: var(--ion-color-fasecondary); --border-width: 4px; --color: var(--ion-color-fasecondary); --background: hwb(44 71% 0%);">
              Add to Cart</ion-button>
          </ion-col>
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer style="padding-top: 4%;">
</ion-footer>