ion-content {
    padding-top: 40%;
    --background: #f3f2f1;
    justify-items: center;

}

ion-toolbar {
    --background: rgba(30,173,80,1);
    --color: #222428;
}

ion-item {
    color: black;
    --background: #f3f2f1;
    padding-top: 5%;
    --color-focused: bisque;
}

ion-avatar {
    margin-left: 38%;
}

#login-title {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    background: -webkit-linear-gradient(rgb(143, 179, 57), rgba(30,173,80,1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
}

#username, #password {
    color: black

}
