<ion-header>
  <ion-back-button></ion-back-button>
</ion-header>
<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-title>Login</ion-title>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item class="form-group" lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" class="form-control" id="username" placeholder="foodallios" formControlName="username">
            </ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" class="form-control" id="password" placeholder="pass1234" formControlName="password">
            </ion-input>
          </ion-item>
              <ion-button expand="block" type="submit">Login</ion-button>
              <ion-button id="#signup-link" type="button" expand="block" color="light" fill="clear" [routerLink]="['/signup']">Not yet a member? Sign up!
            </ion-button>
        </form>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>