ion-toolbar {
    --background: var(--ion-color-faprimary);
}

ion-content {
    padding-top: 20%;
    --background: #FFFDFA;
    justify-items: center;

}

ion-item {
    color: black;
    --background: #FFFDFA;
    padding-top: 5%;
    --color-focused: bisque;
}

ion-avatar {
    margin-left: 38%;
}


#signup-link {
    margin-top: 4%;
    --color: rgb(255, 140, 0);   
}

#username, #password {
    color: black

}
