ion-toolbar {
    --background: rgb(255, 94, 0);
}

ion-content {
    margin-top: 40%;
    --background: #f3f2f1;
    justify-items: center;

}

ion-item {
    color: black;
    --background: #f3f2f1;
    margin-bottom: 5%;
    --color-focused: bisque;
}

#signup-title {
    text-align: left;
    font-weight: 400;
    font-size: 28px;
    background: orangered;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px;
}


#login-link {
    margin-top: 4%;
    float: right;
    color: bisque;
}

#username, #password {
    color: black
}

#avatar-img {
    
    scale: 0.2;
}