ion-toolbar {
    --background: var(--ion-color-fasecondary);
}

ion-content {
    --background: #FFFDFA;
    justify-items: center;

}

ion-item {
    color: black;
    --background: #FFFDFA;
    margin-bottom: 5%;
    --color-focused: bisque;
}


#signup-link {
    margin-top: 4%;
    float: right;
    color: bisque;
}

#username, #password {
    color: black
}

#avatar-img {
    
    scale: 0.2;
}