<ion-header>
  <ion-toolbar >
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-title>Login</ion-title>
    </ion-row>
  </ion-grid>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-item class="form-group" lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" class="form-control" id="username" placeholder="foodallios" formControlName="username">
      </ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" class="form-control" id="password" placeholder="pass1234" formControlName="password">
      </ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" class="form-control" id="email" placeholder="example@mail.gr" formControlName="email">
      </ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-select placeholder="Select Role" formControlName="role">
        <ion-select-option value="CUSTOMER">Customer</ion-select-option>
        <ion-select-option value="OWNER">Shop Owner</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="!signUpForm.valid">Signup</ion-button>
        <ion-button id="#signup-link" type="button" expand="block" color="light" fill="clear" [routerLink]="['/login']">Already a member? Login!</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>