<ion-header>
  <ion-toolbar>
    <ion-title> FoodAllios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="ion-padding">Welcome, {{ userSession }}</h1>
  <ion-grid>
    <h3 style="border-bottom: solid 1px #7d7d7d; padding-left: 8px;">Latest News</h3>

    <ion-card style="margin-bottom: 4vh">
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png">
          </ion-img>

        </ion-slide>
        <ion-slide>
          <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png">
          </ion-img>

        </ion-slide>
        <ion-slide>
          <ion-slide>
            <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png">
            </ion-img>

          </ion-slide>
        </ion-slide>
      </ion-slides>

    </ion-card>

    <h3 style="border-bottom: solid 1px #7d7d7d; padding-left: 8px;"> What's the plan for today?</h3>
    <mat-card *ngFor="let shop of shopList; index as i" id="shop-card">
      <!-- <mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      </mat-card-header> -->
      <mat-card-title-group style="margin-bottom: 2px;">
        <mat-card-subtitle style="color: var(--ion-color-fasecondary);">{{ shop.category }}</mat-card-subtitle>
        <mat-card-title>{{ shop.name }}</mat-card-title>
      </mat-card-title-group>

      <mat-card-content>
        {{ shop.moto }}
      </mat-card-content>
      <mat-divider></mat-divider>

      <mat-card-footer>
        <button mat-button fill="clear" [routerLink]="['../shop-product-list', shop.id, [shop.name]]" (click)="moreBtn(shop)">
          more</button>
      </mat-card-footer>

    </mat-card>


  </ion-grid>
</ion-content>