<ion-header>
  <ion-toolbar>
    <mat-icon slot="start" style="margin-left: 5%;">menu</mat-icon>
    <ion-title> FoodAllios </ion-title>
    <mat-icon (click)="getCartContent('productCart')" matBadge="2" matBadgeColor="accent" slot="end" style="margin-right: 5%;">fastfood</mat-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="ion-padding">Welcome, {{ userSession }}</h1>
  <ion-grid>
    <h3 style="border-bottom: solid 1px #7d7d7d; padding-left: 8px;">Latest News</h3>

    <ion-row>
      <ion-col>
        <mat-card>
          content
        </mat-card>
      </ion-col>
      <ion-col>
        <mat-card>
          content
        </mat-card>
      </ion-col>

    </ion-row>

    <h3 style="border-bottom: solid 1px #7d7d7d; padding-left: 8px;"> What's the plan for today?</h3>
    <mat-card *ngFor="let shop of shopList; index as i" id="shop-card">
      <!-- <mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      </mat-card-header> -->
      <mat-card-title-group style="margin-bottom: 2px;">
        <mat-card-subtitle style="color: var(--ion-color-fasecondary);">{{ shop.category }}</mat-card-subtitle>
        <mat-card-title>{{ shop.name }}</mat-card-title>
      </mat-card-title-group>

      <mat-card-content>
        {{ shop.moto }}
      </mat-card-content>
      <mat-divider></mat-divider>

      <mat-card-footer>
        <button mat-button fill="clear" [routerLink]="['../shop-product-list', shop.id, [shop.name]]"
          (click)="moreBtn(shop)">
          more</button>
      </mat-card-footer>

    </mat-card>
  </ion-grid>

  <!-- Cart Modal -->
  <ion-modal (willDismiss)="onWillDismiss($event)"
    [isOpen]="$isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>
          Summary
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <mat-list>
        <h3>
          Your Order
        </h3>
        <mat-list-item *ngFor="let product of productCart; index as i">
          <span matListItemTitle>{{ product.title }}</span>
          <span matListItemLine>{{ product.orderPrice }}</span>
        </mat-list-item>
      </mat-list>

        <ion-button (click)="submitOrder('productCart')" expand="block" color="success" style="margin-left: 4%; margin-right: 4%;">
          Submit Order
        </ion-button>

    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>