ion-content {
    --background: var(--ion-color-faprimary);
}

#login-button {
    --background: var(--ion-color-fasecondary);
    
    :hover {
        --background: #edf4f5;
        animation-duration: 4000ms;
    }
}

#signup-button {
    --background: #edf4f5;
    --color: var(--ion-color-fasecondary);
}