<ion-content fullscreen="true" >
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-img src="../../../assets/foodallios-logo-no-background.png" style="scale: 0.4; height: auto; width: auto;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-button shape="round" expand="block" id="login-button" href="../login/"><span>Log In</span></ion-button>
        <span class="divider line one-line">or</span>
        <ion-button shape="round" expand="block" id="signup-button" href="../signup/"><span>Sign Up</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
