ion-img {
    --background: black    
}

ion-content {
    --background: rgb(59,82,73);
    --background: linear-gradient(0deg, rgb(143, 179, 57) 25%, rgba(30,173,80,1) 75%);
    //--background: #F9F9F9;
}

#login-button, #signup-button {
    --color: F9F9F9;
    --background: #7fe05b;
    --background-hover: #50d022;
    --transition: 4000ms;
}